<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workouttimer">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManageExerciseActivity"
            android:label="Manage Exercise"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ShowExercisesActivity"
            android:label="Show Exercise"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ManageRoutineActivity"
            android:label="Manage Routine"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ManagerWorkoutActivity"
            android:label="Workouts Manager"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".PlayWorkoutActivity"
            android:label="Playing workout"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>